/*Reboot and use grid layout*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*font */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*style for grid layout*/

  
  /* style of header*/
  nav{
      background-color:#1E90FF;
  }
  a#brand.navbar-brand{
      background-color:#1E90FF;
      color:#fff;
  }
a#brand {
    font-size: 1.2rem;
}
.navbar-toggler {
    font-size: 1.2rem;
}
.navbar-light .navbar-toggler {
    color: #2F4F4F;
    border: none;
   
}

.navbar-light .navbar-brand {
    background: blue;
    color:#00BFFF;
    padding-left: 2px;
}
#search {
    color: #FF4500!important;
}

img[Aboutusimage] {  max-width: 100%;
    height: auto;
}
#iconaboutus::before{
    color:#0000CD;
}
 #icon-news{
color: #0000CD ;
 }
 #icon-contact::before{
     color:#0000CD;
 }
  ul#ulone li {
     list-style: none;
 }
 ul#ultwo li{
     list-style-type: none;
 }
 footer{
     background:black;
 }
 
 @media only screen and (min-width: 992px) {

    #imgedu{
        width: 100%;
        height: 300px;
        margin-left: 30px;
    }
    #imgpeople{
        width: 100%;
        height: 300px;
        margin-right: 40px;
        
    }
    div#ourbusiness>div{
        padding: 0;
    }
    #section2{
        position: relative;
    }
    #icon-hand{
        position:absolute;
        top:60px;
        left: 0.5px;
        
        
    }
    #icon-book{
        position: absolute;
        top: 110px;
        left: 0.5px;
    }
    .card-img-overlay{
        position: absolute;
        top: 30px;
        left: 45px;;
    }
    .navbar-brand{
        margin-left: 8em;
    }
    .navbar-nav{
        margin-right: 8em;
    }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        *{box-sizing: border-box;}
        #img-aboutus{
            width: 400px;
            height: 230px;
            
        }
        navbar-expand-sm {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            background-color: dodgerblue;
            }
        .card-img-overlay .card-title{
           margin-top:5em;
            margin-left: 3em;
        }
        .card-img-overlay .card-text{
           margin-top:5em;
            margin-left: 4em;
        }
        #section2{
            position: relative;
        }
        #icon-hand{
            position: absolute;
            top:15em;
            left:1.5em;
        }
        #icon-book{
            position: absolute;
            top:20em;
            left:1.5em;
        }
        p#pnew3{font-size:8px;}
        .strnew{
            font-size: 12px;
        }
        
    }
    /*--Style mobile--*/
@media only screen and (max-width: 767px) {
    
        
    img#imgpeople{
        height:25rem;
    }
    .card-img-overlay .card-title{
        margin-left: 4em;
    }
    .card-img-overlay .card-text{
        margin-left: 4em;
    }
    #section2{
        position: relative;
    }
    #icon-hand{
        position: absolute;
        top:6em;
        left:2em;
    }
    #icon-book{
        position: absolute;
        top:14em;
        left:2em;
    }
    div#section3{
        margin-left: 1em;
    }
    footer#footer{
        margin-left: 0.1em;
    }
       
       }