/*Reboot and use grid layout*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*font */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*style for grid layout*/
/* style of header*/
a#brand {
    font-size: 1.2rem;
}
.navbar-toggler {
    font-size: 1.2rem;
}
.navbar-light .navbar-toggler {
    color: #2F4F4F;
    border: none; 
}
.navbar-light .navbar-brand {
    color:#00BFFF;
    padding-left: 2px;
}
#search {
    color: #FF4500!important;
}
img[Aboutusimage] {  max-width: 100%;
    height: auto;
}
#iconaboutus::before{
    color:#0000CD;
}
#icon-news{
color: #0000CD ;
}
#icon-contact::before{
    color:#0000CD;
}
ul#ulone li {
    list-style: none;
}
ul#ultwo li{
    list-style-type: none;
}
footer{
    background:black;
    color: white;
}
 