*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:#1E90FF;
}
a#brand.navbar-brand{
    background-color:#1E90FF;
    color:#fff;
}
i#search.fa.fa-search::before{
    color:#fff;
}